@font-face {
    font-family: 'ABC Ginto Nord Unlicensed Trial';
    src: url('https://raw.githubusercontent.com/TheLaval/font/refs/heads/main/ABCGintoNord-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

