@font-face {
  font-family: 'GintoDiscordNord-Bold';
  src: url('https://github.com/TheLaval/font/raw/refs/heads/main/ABCGintoDiscordNord-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
